---
title: Welcome to Middleman
---

<section>

	<div class="wrapper">
    <article class='content span-10'>
      <h1> The product </h1>
      <p> By continously tracking the users' motion, 
     	Senio allows you to create games and plugins that visualize the workout progress, motivate and engage the users, or give feedback in real-time. You, the developer, have full creative authority and our tools at your disposal.
      </p>
    </article>

	<div class="wrapper">
    <article class='content span-10'>
      <h2> Sensor data </h2>
      <p> Senio can connect to Bluetooth devices that stream accelerometer data, perform real-time analysis and output timed events. We have developed streaming algorithms that allow us to accurately measure a range of motion parameters in cycling, rowing and running.
      </p>
    </article>
   
    <img class="media-object center" src="sensors.png" alt="..." height="305" id='howis'/>
    </div>

  <div class="wrapper">
    <article class='content span-10'>
      <h2> Server communication </h2>
      <p> Our servers can scale easily and support thousands of simultaneous connections. You can make your game multiplayer with just a line of code and we handle all the rest.
      </p>
    </article>
   
    <img class="media-object center" src="server.png" alt="..." height="305" id='howis'/>
    </div>
    <div class="wrapper">
    <article class='content span-10'>
      <h2> 100% Javascript </h2>
      <p> Write your code once and run it on multiple platfroms. You can make use of the other HTML 5 gaming engines, libraries and scaling benefits of the world's most popular language. Senio will make sure your game runs at native speed without compromising on quality. </p>
    </article>
    <img class="media-object center" src="cross_platform.png" alt="..." height="305" id='howis'/>
   </div>
   
  </div>
</section>