---
title: Welcome to Middleman
---
<section>
    <div class="wrapper">
      <article class='content span-10'>
        <h1> Plugin basics </h1>
        <h2> Developers </h2>
        <p>We’ve worked very hard to make Sketch the dream “designer toolbox”, but everyone has slightly different needs, and there is a good chance that there’s a feature that you would like, which we’ve not implemented.</p>
      </article>
    </div>
    </section>