---
title: Welcome to Middleman
---


<section>
	<div class="wrapper">
    <article class='content span-10'>
    <h1> How it started</h1>
    <p> Senio started the summer of 2015 in Philadelphia as a project in motion analysis for sports like basketball and tennis. Our algorithms were designed to track motion of various joints and suggest technique corrections to the athlete in real-time as well as preventing injury.
    <p> We accidentally realized the potential of our algorithms in helping amateur athletes track their workouts and provide them with insightful content. In combination with our vast experience in web development we saw the immense value that we could deliver to the fitness industry. 

    <div class='button-wrapper'>
          <button class="btn"> Let's talk </button>
        </div>

    </article>

  </div>
</section>