---
title: Welcome to Middleman
---


<section>
	<div class="wrapper">
    <div class="codeExample">
    <code>
    	<h3> <u> Emulate players </u></h3>
    	<p>new Senio.runningSessionEmulation({’timeout’: 0.1}) <p>
new Senio.cyclingSessionEmulation({’timeout’: 0.1})<p>
new Senio.rowingSessionEmulation({’timeout’: 0.1})<p>
<hr>
<h3> <u> Return Object </u></h3>
<p>
{<p>
	‘mileage’: 				0.1342,<p>
	‘speed’:					0.1145,<p>
	‘consistency’:			0.54,<p>
	‘stride_per_second’: 	2.3,<p>
... <p>
<hr>
<h3> <u> Binary Streams </u></h3><p>
new Senio.binaryStream(’jumpEvent’)<p>
new Senio.binaryStream(’x’)<p>
new Senio.binaryStream(’y’)<p>
new Senio.binaryStream(’speed’)<p>
new Senio.binaryStream(’event’)</p>
    </code>
  </div>
</div>
  </section>