---
title: Welcome to Middleman
---
<section id="intro"> 

	<div class="wrapper">
    <article class='content span-10'>
      <p id="intro-text"> Senio is a platform for online fitness games using wearable devices. We want to make workouts fun, competitive and interactive. Our iOS and tvOS applications give access to gaming content for running, cycling and rowing. 
      </p>
      <div class='button-wrapper'>
          <button class="btn"> Developer Sign Up</button>
        </div>

    </article>


    <img class="media-object center" src="intro.png" alt="..." width='100%' height="auto" id='howis'/>
    </div>

    </section>